body {
    background: #85D3F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
}

section {
    background: #ffffff;
    width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #88888849;
    
}

label{
    font-weight: 600;
}

div {
    padding: 5px;
}

#seltab {
    width: 150px;
}

footer {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}


